{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

  {{lomakkeet.nayta_viesti(viesti)}}

  <h1>Käyttäjän {{user_logged_in.kayttajatunnus}} luokat</h1>

  <p><a class="btn btn-success" href="{{base_path}}/luokka/uusi" role="button">Lisää uusi luokka</a></p>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
		<th></th>
      </tr>
    </thead>
	
    <tbody>
	  {% for luokka in luokat %}
        <tr>
          <td><a href="{{base_path}}/luokka/{{luokka.id}}">{{luokka.nimi}}</a></td>
		  <td>{{lomakkeet.muokkaa_nappi("#{base_path}/luokka/#{luokka.id}/muokkaa")}}</td>
        </tr>
	  {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
