{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

  <h1>Muokkaa: {{luokka.nimi}}</h1>

  {{lomakkeet.nayta_virheet(virheet)}}

  <form method="post" action="{{base_path}}/luokka/{{luokka.id}}/muokkaa">
	<div class="form-group">
	  <label class="control-label">Nimi</label>
	  <input name="nimi" class="form-control" type="text" value="{{luokka.nimi}}">
	</div>
	<br>
	<div class="form-group">
	  <button type="submit" class="btn btn-success">Tallenna</button>
	</div>
  </form>

  {{lomakkeet.poista_nappi("#{base_path}/luokka/#{luokka.id}/poista")}}

{% endblock %}