{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

  {{lomakkeet.nayta_viesti(viesti)}}

  <h1>Käyttäjän {{user_logged_in.kayttajatunnus}} muistiinpanot</h1>

  <p><a class="btn btn-success" href="{{base_path}}/muistiinpano/uusi" role="button">Lisää uusi muistiinpano</a></p>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
		<th>Luokat</th>
		<th>Tärkeys</th>
		<th>Lisäyspäivä</th>
		<th></th>
      </tr>
    </thead>
	
    <tbody>
	  {% for muistiinpano in muistiinpanot %}
        <tr>
          <td><a href="{{base_path}}/muistiinpano/{{muistiinpano.id}}">{{muistiinpano.nimi}}</a></td>
          <td>
            {% for luokka in muistiinpano.luokat %}
              {{luokka.nimi}} <br>
            {% endfor %}
          </td>
		  <td>{{muistiinpano.prioriteetti}}</td>
		  <td>{{muistiinpano.lisayspaiva}}</td>
		  <td>{{lomakkeet.muokkaa_nappi("#{base_path}/muistiinpano/#{muistiinpano.id}/muokkaa")}}</td>
        </tr>
	  {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
