{% extends "base.html" %}
{% block content %}

  <h1>Muistiinpanot</h1>
  
  <p><a class="btn btn-success" href="{{base_path}}/muistiinpano/uusi" role="button">Lisää uusi muistiinpano</a></p>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
		<th>Luokka</th>
		<th>Tärkeys</th>
		<th>Lisäyspäivä</th>
		<th></th>
      </tr>
    </thead>
	
    <tbody>
	  {% for muistiinpano in muistiinpanot %}
        <tr>
          <td><a href="{{base_path}}/muistiinpano/{{muistiinpano.id}}">{{muistiinpano.nimi}}</a></td>
		  <td>[kategoria]</td>
		  <td>{{muistiinpano.prioriteetti}}</td>
		  <td>{{muistiinpano.lisayspaiva}}</td>
		  <td><a class="btn btn-primary" href="{{base_path}}/muistiinpano/muokkaa/{{muistiinpano.id}}" role="button">Muokkaa</a></td>
        </tr>
	  {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
