{% extends "base.html" %}
{% block content %}

  <h1>Muokkaa: {{muistiinpano.nimi}}</h1>

  {% if virheet %}
    <div class="alert alert-danger">
	  <ul>
	  	{% for virhe in virheet %}
		  <li>{{virhe}}</li>
		{% endfor %}
	  </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/muistiinpano/{{muistiinpano.id}}/muokkaa">
	<div class="form-group">
	  <label class="control-label">Nimi</label>
	  <input name="nimi" class="form-control" type="text" value="{{muistiinpano.nimi}}">
	</div>
    <div class="form-group">
	  <label class="control-label">Lisätiedot</label>
	  <textarea name="lisatiedot" class="form-control" type="text">{{muistiinpano.lisatiedot}}</textarea>
	</div>
	<label class="control-label">Prioriteetti</label>
	<div class "form-group">
	  <select type="number" name="prioriteetti" class="form-control">
	    <option selected="selected">{{muistiinpano.prioriteetti}}</option>
	    <option>1</option>
	    <option>2</option>
	    <option>3</option>
	    <option>4</option>
	    <option>5</option>
	  </select>
	</div>
	<br>
	<div class="form-group">
	  <button type="submit" class="btn btn-success">Tallenna</button>
	</div>
  </form>

  <form method="post" action="{{base_path}}/muistiinpano/{{muistiinpano.id}}/poista" style="display: inline-block;">
	<button type="submit" class="btn btn-danger">Poista</button>
  </form>

{% endblock %}