{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

  <h1>Muokkaa: {{muistiinpano.nimi}}</h1>

  {{lomakkeet.nayta_virheet(virheet)}}

  <form method="post" action="{{base_path}}/muistiinpano/{{muistiinpano.id}}/muokkaa">
	<div class="form-group">
	  <label class="control-label">Nimi</label>
	  <input name="nimi" class="form-control" type="text" value="{{muistiinpano.nimi}}">
	</div>
    <div class="form-group">
	  <label class="control-label">Lisätiedot</label>
	  <textarea name="lisatiedot" class="form-control" type="text">{{muistiinpano.lisatiedot}}</textarea>
	</div>
	<label class="control-label">Prioriteetti</label>
	<div class="form-group">
	  <select type="number" name="prioriteetti" class="form-control">
	    <option selected="selected">{{muistiinpano.prioriteetti}}</option>
	    <option>1</option>
	    <option>2</option>
	    <option>3</option>
	    <option>4</option>
	    <option>5</option>
	  </select>
	</div>
    <br>
	<div class="form-group">
	  <label class="control-label">Luokat</label>
        <br>
	    {% for luokka in luokat %}
          {% if luokka.id in muistiinpanon_luokat %}
		    <input type="checkbox" checked="checked" name="luokat[]" value="{{luokka.id}}">{{luokka.nimi}}</input>
            <br>
          {% else %}
            <input type="checkbox" name="luokat[]" value="{{luokka.id}}">{{luokka.nimi}}</input>
            <br>
          {% endif %}
		{% endfor %}
        <input type="hidden" name="luokat[]" value="">
	</div>
	<br>
	<div class="form-group">
	  <button type="submit" class="btn btn-success">Tallenna</button>
	</div>
  </form>

  {{lomakkeet.poista_nappi("#{base_path}/muistiinpano/#{muistiinpano.id}/poista")}}

{% endblock %}