{% extends "base.html" %}
{% block content %}
{% import "makrot/lomakkeet.html" as lomakkeet %}

  {{lomakkeet.nayta_viesti(viesti)}}

  <h1>{{muistiinpano.nimi}}</h1>
  
  <p><strong>Lisätiedot:</strong> {{muistiinpano.lisatiedot}}</p>
  {% if muistiinpano.luokat|length > 0 %}
    <p><strong>Luokat:</strong>
    {% for luokka in muistiinpano.luokat %}
      {{luokka.nimi}} <br>
    {% endfor %}
  {% endif %}
  </p>
  <p><strong>Tärkeys:</strong> {{muistiinpano.prioriteetti}}</p>
  <p><strong>Lisäyspäivä:</strong> {{muistiinpano.lisayspaiva}}</p>
  
  <p>
    {{lomakkeet.muokkaa_nappi("#{base_path}/muistiinpano/#{muistiinpano.id}/muokkaa")}}
    {{lomakkeet.poista_nappi("#{base_path}/muistiinpano/#{muistiinpano.id}/poista")}}
  </p>

{% endblock %}