{% extends "base.html" %}
{% block content %}

  {% if viesti %}
    <div class="alert alert-success">
	  {{viesti}}
    </div>
  {% endif %}

  <h1>{{muistiinpano.nimi}}</h1>
  
  <p><strong>Lisätiedot:</strong> {{muistiinpano.lisatiedot}}</p>
  <p><strong>Luokka:</strong> [kategoria]</p>
  <p><strong>Tärkeys:</strong> {{muistiinpano.prioriteetti}}</p>
  <p><strong>Lisäyspäivä:</strong> {{muistiinpano.lisayspaiva}}</p>
  
  <p>
	<a class="btn btn-primary" href="{{base_path}}/muistiinpano/{{muistiinpano.id}}/muokkaa" role="button">Muokkaa</a>
    <form method="post" action="{{base_path}}/muistiinpano/{{muistiinpano.id}}/poista" style="display: inline-block;">
      <button type="submit" class="btn btn-danger">Poista</button>
    </form>
  </p>

{% endblock %}