{% extends "base.html" %}
{% block content %}

  <h1>Muistiinpanot</h1>
  
  <p><a class="btn btn-success" href="" role="button">Lisää uusi muistiinpano</a></p>
  
  <table class="table table-bordered">
	<thead>
		<tr>
			<th>Nimi</th>
			<th>Luokka</th>
			<th>Tärkeys</th>
			<th>Lisäyspäivä</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td><a href="">testimuistio 1</a></td>
			<td>sekalaiset</td>
			<td>2</td>
			<td>20.3.2015</td>
			<td><a class="btn btn-primary" href="" role="button">Muokkaa</a></td>
		</tr>
		<tr>
			<td><a href="">testi 2</a></td>
			<td>sekalaiset, toinen kategoria</td>
			<td>4</td>
			<td>20.3.2015</td>
			<td><a class="btn btn-primary" href="" role="button">Muokkaa</a></td>
		</tr>
	</tbody>
  </table>
  
{% endblock %}